
@{
    ViewBag.Title = "Admin page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Welcome to Admin page</h2>
<div class="col-md-3" style="margin-top:150px;">
    <h3 class="text-success">Easy Tree Example</h3>
    <div class="easy-tree">
        <ul>
            <li>Example 1</li>
            <li>Example 2</li>
            <li>
                Example 3
                <ul>
                    <li>Example 1</li>
                    <li>
                        Example 2
                        <ul>
                            <li>Example 1</li>
                            <li>Example 2</li>
                            <li>Example 3</li>
                            <li>Example 4</li>
                        </ul>
                    </li>
                    <li>Example 3</li>
                    <li>Example 4</li>
                </ul>
            </li>
            <li>
                Example 0
                <ul>
                    <li>Example 1</li>
                    <li>Example 2</li>
                    <li>Example 3</li>
                    <li>
                        Example 4
                        <ul>
                            <li>Example 1</li>
                            <li>Example 2</li>
                            <li>Example 3</li>
                            <li>Example 4</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script>
    (function ($) {
        function init() {            
            $('.easy-tree').EasyTree({
                addable: true,
                editable: true,
                deletable: true
            });
        }

        window.onload = init();
    })(jQuery)
</script>
